.category-slides-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.category-slider {
  /* max-width: 1400px;
    width: 100%; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.widget__border-icon {
  display: flex;
  align-items: center;
  /* background: #B24592;
    background: -webkit-linear-gradient(to top, #F15F79, #B24592); */
  background: linear-gradient(to top, #f15f79, #b24592);
  flex: 0 0 15.566667%;
  max-width: 15.566667%;
}

.widget__icon {
  margin: 20px 0;
  display: flex;
  flex-direction: column;

}
.widget__icon img {
  max-width: 70%;
  margin: 0 auto;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}
.widget__title {
  text-align: center;
  font-size: 2em;
  color: #ffffff;
  margin: 10px 0 15px;
}
.text-center {
  text-align: center;
}
a.widget__viewall {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 80%;
}
a.widget__viewall:hover {
  color: #fff !important;
  background-color: #000;
}
#card-container {
  flex: 0 0 82.333333%;
  max-width: 82.333333%;
}
@media (max-width: 768px) {
  .category-slider {
    flex-direction: column;
  }
  .widget__border-icon {
    flex: 0 0 100%;
    max-width: 100%;
  }
  #card-container {
    flex: 0 0 100%;
    max-width: 100%;
  }
  /* .widget__icon img {
        max-width: 50%;
        margin: 0 auto;
    }
    img {
        max-width: 100%;
        height: auto;
        border: 0;
    } */
}
