.page-main{
    display: flex;
    flex-direction: column;

}
.page-title-wrapper{
    padding: 10px 0;
}
.product-items{
    display: flex;
    flex-wrap: wrap;
}
.product-items ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.product-items ul li{
    list-style: none;
    margin: 5px;
    width: 20%;
    height: 300px;
    /* border: 1px solid black; */
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2)
}
.product-img{
    height: 200px;

}
.product-name{
    height: 30px;
    font-size: 80%;
}


/* ProductListPage.css */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .pagination span {
    margin: 0 5px;
    padding: 5px 10px;
    font-weight: bold;
  }
  