.riskFree{
    text-align: center;
    font-size: 15px;
    width: 100%;
    padding: 10px 0 20px;
    background: #ffffff !important;
    border-top: 1px solid #333;
}
.topFooter-row{
    display: flex;
}
.topFooter-column{
    flex: 0 0 25%;
    max-width: 25%
}
.content{
    font-size: 80%;
    letter-spacing: 1px;
}
@media (max-width: 768px) {
    .topFooter-column {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .topFooter-row{
        flex-direction: column;
    }
}
